.container-with-margin {
    margin: 2vw;
}

.container-buttons {
    display: flex;
    flex-direction: row;
    background-color: #f4f4f4;
    padding: 20px;
    justify-content: space-between;
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-text {
    text-align: center;
}

.column-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.z-index-2 {
    z-index: 2;
}

.vertical-separator {
    height: auto;
    width: 3px;
    background-color: #2d2d2d;
}

.white-background {
    background-color: white;
}

.padding-left-and-right {
    padding: 0 2vw;
}

.red-bold-text{
    color: red;
    font-weight: bold;
}

/* Classes pour l'affichage de la voiture */

.voiture_container, .camion_container, .deux_roues_container {
    height: 15vw;
}

.deux_roues{
    width: 25vw;
    height: 15vw;
    display: grid;
    background: none;
    grid-template-columns: 5vw 5vw 5vw 5vw 5vw;
    position: absolute;
    white-space: nowrap;
    transform-origin: bottom left;
}

.voiture {
    width: 20vw;
    height: 15vw;
    display: grid;
    background: none;
    grid-template-columns: 5vw 5vw 5vw 5vw;
    position: absolute;
    white-space: nowrap;
    transform-origin: bottom left;
}

.camion{
    width: 20vw;
    height: 15vw;
    display: grid;
    background: none;
    grid-template-columns: 5vw 5vw 5vw 5vw 5vw 5vw 5vw;
    position: absolute;
    white-space: nowrap;
    transform-origin: bottom right;
}

.arrondi_2r {
    border-radius: 50% 0 0 0;
}

.carrosserie_grise{
    background-color: #005c35;
}

.roule {
    -webkit-animation: rightThenLeft 4s linear infinite;
}

.case_vide {
    background: none;
}

.roue {
    background-color: #2d2d2d;
    border-radius: 50%;
    padding: 0.8vw;
    width: 5vw;
    height: 5vw;
}

.jante {
    background-color: #919191;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.case {
    width: 5vw;
    height: 5vw;
    padding: 0.4vw;
}

.fenetre {
    background: #ebeef0;
    height: 100%;
    width: 100%;
}

.capot {
    border-radius: 0 20% 0 0;
}

@-webkit-keyframes rightThenLeft {
    0% {
        margin-left: 0;
        -moz-transform: rotate(0deg);
    }
    1% {
        -moz-transform: rotate(0deg);
    }
    15% {
        -moz-transform: rotate(-20deg);
    }
    32% {
        -moz-transform: rotate(-20deg);
    }
    40% {
        -moz-transform: rotate(0deg);
    }
    70% {
        margin-left: 50%;
    }
    70.00001% {
        margin-left: -20vw;
    }
    100% {
        margin-left: 0;
    }
}

.clickable {
    cursor: pointer;
}
.clickable:hover{
    background-color: #d0efff !important;
}