* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "LuckiestGuy-Regular";
    src: url("../polices/LuckiestGuy-Regular.ttf") format("truetype");
}

.app{
    padding: 20px;
}

.app-container{
    width: 100%;
    height: auto;
    font-family: "LuckiestGuy-Regular", serif;
    display: flex;
    flex-wrap: wrap;
}

.main-container{
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 20px;
    border: 3px rgba(0, 0, 0, 0.62) solid;
    flex: 1;
    margin: 0.4rem;
}

.column-container{
    display: flex;
    flex-direction: column;
}

.row-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.image{
    width: 10rem;
    height: 10rem;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.2);
    border: 3px rgba(0,0,0,0.7) solid;
}

.nom{
    padding: 10px;
    font-size: 2em;
}

.prix{
    color: #2d2d2d;
    padding: 10px;
    font-size: 1.5em;
}

.investisseurs{
    font-size: 1.5em;
}

.buttons-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: auto;
}

.edit-crypto{
    padding: 3px;
    font-size: 2em;
}

.edit-crypto:hover{
    cursor: pointer;
}

.infos-cryptos-container > div {
    display: flex;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.05);
    border-bottom: 3px rgba(0, 0, 0, 0.62) solid;
}

.title {
    font-weight: bold;
    font-size: 1.2em;
}