* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "LuckiestGuy-Regular";
    src: url("../polices/LuckiestGuy-Regular.ttf") format("truetype");
}

body{
    padding: 20px;
    font-family: "LuckiestGuy-Regular", serif;
}

.main-container{
    width: 100%;
    height: auto;
}

.column-container{
    display: flex;
    flex-direction: column;
}

.row-container{
    display: flex;
    flex-direction: row;
}

.image{
    width: 10rem;
    height: 10rem;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.2);
    border: 3px rgba(0,0,0,0.7) solid;
}

.nom{
    padding: 10px;
    font-size: 2em;
}

.prix{
    color: #2d2d2d;
    padding: 10px;
    font-size: 1.5em;
}

.container{
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 20px;
    border: 3px rgba(0, 0, 0, 0.62) solid;
}

.investisseurs{
    font-size: 1.5em;
}